.movies-searchbar {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    margin-bottom: 40px;

    app-input {
        width: 100%;
    }

    app-button {
        width: 100%;
    }
}

@media (min-width: 768px) {
    .movies-searchbar {
        flex-direction: row;
        align-items: center;
        gap: 20px;
    
        app-input {
            width: 50%;
        }
    
        app-button {
            width: 25%;
        }
    }
}